@import url(./typewriter.css);

/* Hero */
.hero {
  width: 100vw;
  min-height: 90vh;
}

.hero-layout {
  padding: min(50vw, 20rem) 0;
}

.hero-text {
  margin: auto;
}

.hero-text > * {
  padding: 1rem 0;
}

.hero-text:first-child + .hero-heading {
  padding: 0;
}

.hero-heading {
  font-family: 'Source Code Pro', serif;
  font-size: clamp(4em, 12vw, 7em);
  font-weight: 600;
  line-height: 1;
}

.hero-subheading {
  font-family: 'Raleway', sans-serif;
  font-size: min(2em, 10vw);
  margin: 0 auto;
}

.hero-image {
  margin: auto;
  max-width: 100%;
}

/* Projects */
.projects {
  padding: 5rem 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin: 0 auto;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: box-shadow 0.2s ease-out, scale 0.2s ease-out;
}

.project-card:hover {
  box-shadow: 0 0 0.25rem var(--light-2);
  scale: 1.002;
}

.project-heading {
  font-size: clamp(2.5em, 5vw, 2.5em);
  color: var(--dark-1);
}

.project-description {
  font-size: clamp(1.5em, 2vw, 1.5em);
}

/* Media Queries */
@media (min-width: 450px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .hero-layout {
    grid-template-rows: unset;
    grid-template-columns: 1fr 1fr;
    gap: 10%;

    min-height: 80vh;
  }
}
