@import url(./typewriter.css);

/* Hero */
.hero {
  min-height: 90vh;
}

.hero-layout {
  padding: min(35vh, 35rem) 0;

  & > * {
    margin-bottom: 1.5rem;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.hero-text > * {
  margin-bottom: min(1em, 1.5rem);
}

.hero-text > *:last-child {
  margin-bottom: 0;
}

.hero-heading {
  font-family: 'Source Code Pro', monospace;
  font-size: clamp(4rem, 6vw, 7rem);
  font-weight: 600;
  line-height: 1;
}

.hero-subheading {
  font-family: 'Raleway', sans-serif;
  font-size: clamp(1.5rem, 1.75vw, 2rem);
  line-height: 1.5;
  letter-spacing: 0.1em;
  max-width: 60ch;
}

.hero-social {
  display: flex;
  gap: 1.5rem;
}

.social-icon {
  filter: contrast(200%) grayscale(100%);
  transform: scale(1);
  max-width: max(2rem, 1.5vw);
  transition: filter 0.3s ease-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.social-icon:hover {
  filter: contrast(100%) grayscale(80%);
  transform: scale(1.1);

  &.lighten {
    filter: invert(20%) grayscale(80%);
  }
}

/* Projects */
.projects {
  padding: 5rem 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin: 0 auto;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: box-shadow 0.2s ease-out, scale 0.2s ease-out;
}

.project-card:hover {
  box-shadow: 0 0 0.25rem var(--light-2);
  scale: 1.002;
}

.project-heading {
  font-size: clamp(2.5em, 5vw, 2.5em);
  color: var(--dark-1);
}

.project-description {
  font-size: clamp(1.5em, 2vw, 1.5em);
}

.project-image {
  max-width: 2.5rem;
  max-height: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
}

/* Media Queries */
@media (min-width: 450px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .projects-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .hero-layout {
    grid-template-rows: unset;
    grid-template-columns: 1fr 1fr;
    gap: 10%;

    min-height: 80vh;
  }
}
