/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --light-1: hsl(27, 53%, 93%);
  --light-2: hsl(27, 53%, 85%);
  --dark-1: hsl(28, 85%, 11%);
}

/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;

  /* Removing this will break the project-grid layout in that if there are links inside project-cards that are longer than the width of their parent, the links will overflow. */
  word-wrap: break-word;
}

nav a {
  /* all: unset; */
  cursor: pointer;
}

.container {
  width: 60%;
  margin: 0 auto;
}

/* Utility Classes */
.light-1 {
  background-color: var(--light-1);
}

.light-2 {
  background-color: var(--light-2);
}

/* Keyframes */
@keyframes scale {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  100% {
    transform: scale(2);
    box-shadow: 0 0 2rem hsl(27, 79%, 90%);
    background-color: hsl(27, 79%, 75%);
  }
}
