/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --light-1: hsl(27, 53%, 93%);
  --light-2: hsl(27, 53%, 85%);
}

/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

nav a {
  all: unset;
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Utility Classes */
.light-1 {
  background-color: var(--light-1);
}

.light-2 {
  background-color: var(--light-2);
}

/* Hamburger */
.hamburger {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
}

.nav-toggle {
  padding: 1rem 2rem;
  border: none;
}

.nav--closed {
  display: none;

  /* I can't work out how to make the hamburger stay when the menu is closed, so I'm just doing a pop in and pop out. Leaving this code here for the future. */
  /* position: absolute;
  transform: translateY(-100%); */
}

/* Navigation */
nav {
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;

  margin: 0;
  padding: 0;
  list-style: none;

  width: 100%;
  padding: 2rem;
}

.nav-list > li {
  text-align: center;
}

.nav-item {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding: 0.6rem;
}

.nav-item:hover {
  animation: scale 0.3s ease-in-out forwards;
}

/* Footer */
.footer-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 100%;
  padding: 2rem 0;

  text-align: center;
}

.footer-title {
  font-family: 'Raleway', serif;
  font-size: 1.5em;
}

.footer-social {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer-icon {
  filter: grayscale(100%);
  max-width: 2.5rem;
}

/* Keyframes */
@keyframes scale {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  100% {
    transform: scale(2);
    box-shadow: 0 0 2rem hsl(27, 79%, 90%);
    background-color: hsl(27, 79%, 75%);
  }
}

/* Media Queries */
@media (min-width: 768px) {
  .nav-list {
    flex-direction: row;
  }

  .nav--closed {
    position: initial;
    transform: initial;
    display: initial;
  }

  .nav-toggle {
    display: none;
  }

  header {
    /* I don't see an elegant way to override the light-1 class that's coming from a closed menu, so I gotta use !important */
    background-color: var(--light-2) !important;
  }
}
