/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Tailwind */
@import 'tailwindcss';

/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

nav a {
  all: unset;
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/*  */
nav {
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;

  margin: 0;
  padding: 0;
  list-style: none;

  width: 100%;
  padding: 2rem;
}

.nav-item {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.6rem;
}

.nav-item:hover {
  animation: scale 0.3s ease-in-out forwards;
}

/* Keyframes */
@keyframes scale {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  100% {
    transform: scale(2);
    box-shadow: 0 0 2rem hsl(27, 79%, 90%);
    background-color: hsl(27, 79%, 75%);
  }
}

/* Media Queries */
@media (min-width: 768px) {
  .nav-list {
    flex-direction: row;
  }

  .nav-item {
    font-size: 1.5em;
  }
}
